@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;900&display=swap');
@import './header.css';
@import './main.css';
@import './description.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Barlow', sans-serif;
}

.container {
  max-width: 1190px;
  padding: 0 40px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .container {
    padding: 0 24px;
  }
}
